jupyterlab
fastapi
numpyro
arviz
seaborn
causalgraphicalmodels
daft
torch
torchvision
pyro-ppl
polars
modin[all]
statsmodels
implicit
faiss-cpu==1.7.4
pystan
tensorflow
tensorflow-probability
tensorflow-recommenders
opencv-python
opencv-contrib-python
transformers
pyspark
metaflow
xgboost
scikit-learn
